In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pit
import seaborn as sns # 시각화 라이브러리
import warnings # 경고창 없애기

warnings.filterwarnings('ignore')

train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [65]:
train.columns

Index(['no', 'age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [66]:
train

,no,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,1,25,Private,219199,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,0
1,2,39,Private,52978,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,United-States,0
2,3,35,Private,196899,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,Haiti,0
3,4,64,Private,135527,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
4,5,24,Private,60783,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,29301,20,Private,100605,HS-grad,9,Never-married,Sales,Own-child,Other,Male,0,0,40,Puerto-Rico,0
29301,29302,21,Private,372636,HS-grad,9,Never-married,Sales,Own-child,Black,Male,0,0,40,United-States,0
29302,29303,18,Self-emp-not-inc,258474,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,0
29303,29304,33,Private,157446,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,United-States,0
29304,29305,65,?,94809,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,40,United-States,0

In [67]:
X_train = train.drop(["no", "age", "fnlwgt", "education", "marital-status","native-country"], axis = 1)

In [68]:
X_test = test.drop(["no", "age", "fnlwgt", "education", "marital-status","native-country"], axis = 1)

In [69]:
y_train = X_train[['income']]

In [70]:
X_train.columns

Index(['workclass', 'education-num', 'occupation', 'relationship', 'race',
       'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'income'],
      dtype='object')

In [71]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29305 entries, 0 to 29304
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   workclass       29305 non-null  object
 1   education-num   29305 non-null  int64
 2   occupation      29305 non-null  object
 3   relationship    29305 non-null  object
 4   race            29305 non-null  object
 5   sex             29305 non-null  object
 6   capital-gain    29305 non-null  int64
 7   capital-loss    29305 non-null  int64
 8   hours-per-week  29305 non-null  int64
 9   income          29305 non-null  int64
dtypes: int64(5), object(5)
memory usage: 2.2+ MB

In [72]:
X_train['workclass'].value_counts()

 Private             20410
 Self-emp-not-inc     2305
 Local-gov            1868
 ?                    1663
 State-gov            1201
 Self-emp-inc          987
 Federal-gov           854
 Without-pay            12
 Never-worked            5
Name: workclass, dtype: int64

In [73]:
X_train['relationship'].value_counts()

 Husband           11769
 Not-in-family      7637
 Own-child          4554
 Unmarried          3071
 Wife               1370
 Other-relative      904
Name: relationship, dtype: int64

In [74]:
X_train['race'].value_counts()

 White                 25081
 Black                  2776
 Asian-Pac-Islander      919
 Amer-Indian-Eskimo      290
 Other                   239
Name: race, dtype: int64

In [75]:
# 결측치 채우기
X_train['workclass'].fillna('Private', inplace = True)

In [76]:
X_train['occupation'].fillna('Prof-specialty', inplace = True)

In [77]:
X_train['relationship'].fillna('Husband', inplace = True)

In [78]:
X_train['race'].fillna(' White', inplace = True)

In [79]:
# 결측치 채우기
X_test['workclass'].fillna('Private', inplace = True)

In [80]:
X_test['occupation'].fillna('Prof-specialty', inplace = True)

In [81]:
X_test['relationship'].fillna('Husband', inplace = True)

In [82]:
X_test['race'].fillna(' White', inplace = True)

In [83]:
X_train

,workclass,education-num,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,income
0,Private,7,Machine-op-inspct,Not-in-family,White,Male,0,0,40,0
1,Private,10,Other-service,Not-in-family,White,Female,0,1721,55,0
2,Private,13,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,0
3,Private,11,Tech-support,Not-in-family,White,Female,0,0,40,0
4,Private,10,Transport-moving,Husband,White,Male,0,0,70,1
...,...,...,...,...,...,...,...,...,...,...
29300,Private,9,Sales,Own-child,Other,Male,0,0,40,0
29301,Private,9,Sales,Own-child,Black,Male,0,0,40,0
29302,Self-emp-not-inc,6,Farming-fishing,Own-child,White,Male,0,0,40,0
29303,Private,7,Craft-repair,Not-in-family,White,Male,0,0,65,0
29304,?,9,?,Not-in-family,White,Female,0,0,40,0

In [84]:
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier()

In [85]:
X_train.shape, y_train.shape, X_test.shape

((29305, 10), (29305, 1), (19537, 9))

In [86]:
knn_model.fit(X_train, y_train)

ValueError: could not convert string to float: ' Private'